.center {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* .addSeeds {
    width: 400px;
    height: 400px;
    margin: 50px;
    background-color: #67C28F;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #01632C;
    background-image: url("/public/images/seeds.jpg");
} */

/* .addSeeds h2 {
    margin: 0;
    color: #fff;
    background-color: #01632C;
    padding: 10px;
    border-radius: 22px 22px 0px 0px;
} */

/* .addSeeds form {
    width: 50%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
} */