.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
}

.nav-link {
  color: #f2f2f2;
  background-color: #239956;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #01632C;
}

.nav {
  overflow: hidden;
  text-align: center;
  background-color: #239956;
  margin-bottom: 20px;
}